* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main-nav a {
  color: #0720e8;
  display: block;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  transition: background 0.4s;
}

#main-nav ul {
  list-style: none;
  display: flex;
}

#main-nav li {
  width: 100%;
  text-align: center;
  position: relative;
}
