* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main-nav a {
  color: #0720e8;
  position: relative;
  display: flex;
  text-decoration: none;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 10% 0 10%;
}

li {
  text-align: center;

  position: relative;
}

.middle {
    display: flex;
    gap: 10px;
}