* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6,p,a,label {
    font-family: 'Poppins', sans-serif;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #131c27;
    color: white;
    height: 10rem;
}
nav p {
    font-family: 'Pattaya', sans-serif;
    padding-left: 10rem;
    font-size: 3rem;
}
ul {
    display: flex;
    list-style: none;
    padding-right: 10rem;
    font-size: 2rem;
}
li a{
    text-decoration: none;
    padding: 1rem 1.5rem;
    color: white;
    padding-left: 4rem;
}
.one {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./img/landing-page.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    text-align: center;
    color: white;
}
.one a{
    background-color: #5d88bd;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 15rem;
    border: none;
    color: white;
    text-decoration: none;
}
.one a:hover {
    background-color: #4c6e97;
}
.one h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}
.one p {
    margin-bottom: 3rem;
    font-size: 1.5rem;
}
.two {
    display: flex;
    background-image: url("./img/new-york-page.png"), linear-gradient(0deg, rgba(255,255,255,1) 0%, rgb(114, 114, 114) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    text-align: left;
    color: white;
    justify-content: center;
    padding-left: 5rem;

}
.two p {
    margin-bottom: 3rem;
    font-size: 1.5rem;
}
.two h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    border-style: none;   
    border-bottom-style: solid;
    width: fit-content;
}
.two a{
    background-color: #4c6e97;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 1.5rem;
    border: none;
    color: white;
    text-decoration: none;
}
.three {
    background-color: #131c27;
    color: white;
    text-align: center;
    padding: 2rem 0;
    font-size: 2rem;
}
.fourdot {
    position: relative;
    width: 25vw;
    height: 40vh;
    text-align: center;
    font-size: 1.5rem;
    box-shadow: 0.5rem 0.5rem 1.5rem 0.5rem #0000002f;
}
.fourdot span {
    background-color: #131c27;
    height: 5.5vh;
    display: block;
    text-align: center;
    padding-top: 0.7rem;
}
.fourdot span img {
    object-fit: contain;
    height: 2.5rem;
}
.fourdot p {
    padding-left: 1rem;
}
.fourdot h2 {
    padding: 2rem 0 4rem 0;
}
.four {
    display: flex;
    justify-content: center;
    gap: 5rem;
    padding: 3rem 0;
}
.five {
    background-image: url("./img/contact-mountain.png"), linear-gradient(0deg, rgba(255,255,255,1) 0%, rgb(114, 114, 114) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    color: white;
}
.five form {
    display: flex;
    background-color: #131c2783;
    flex-direction: column;
    width: 65vw;
    margin: auto;
    justify-content: center;
    text-align: center;
    padding: 0;
    padding-top: 3rem;
    font-size: 1.8rem;
    border-radius: 2.5rem;

}
.fivedot {
    padding-top: 20rem;

}
.five input {
    width: 20vw;
    margin-left: 2rem;
    margin-top: 3rem;
    padding: 1rem 2rem;
}
.five button {
    border: none;
    background-color: #5d88bd;
    color: white;
    margin-top: 5rem;
    padding: 1rem 0;
    border-radius: 0 0 2.5rem 2.5rem;
}
.five button:hover {
    background-color: #4c6e97;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 7rem 1.5rem 2rem;
    background-color: #131c27;
    color: white;
    font-size: 1.5rem;
}
.footerdot {
    display: flex;
    justify-content: space-between;
    width: 60vw;
}

/*Telefoon*/
@media only screen and (max-width: 920px) {
    nav{
        flex-direction: column;
        padding-left: 0 ;
    }
    nav p{
        padding-left: 4rem ;
        text-align: center;
    }
    ul{
        padding: 0 0 1.5rem 0 ;
    }

    .two{
        padding-left: 1rem ;
        padding-right: 17rem ;
    }
    .two p{
        padding: 0 ;
    }

    .three{
        padding-left: 2rem ;
    }
    .three p{
        padding: 0.5rem 5rem 0 5rem ;
    }


    .fourdot{
        width: 70vw ;
        height: 45vh ;
    }
    .fourdot p{
        padding: 0 2rem 0 2rem ;
    }
    .fourdot span{
        height: 8vh ;
        padding-top: 1.2rem ;
    }
    .four{
        flex-direction: column;
        align-items: center;
    }

    .five form{
        width: 95vw ;
    }
    .five input {
        padding:  1rem 10rem ;
    }

    footer {
        display: flex ;
        flex-direction: column ;
    }
    footer p{
        padding-left: 7rem ;
        padding-bottom: 1rem ;
    }
    .footerdot{
        width: 90vw ;
        padding-left: 5rem;
    }
}